* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 80vmin;
}

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;

  width: 100%;
}

h1 {
  text-align: center;
  color: #4a90e2;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

p, label {
  margin: 0 20px;
}

/* Canvas Styling */
canvas {
  display: block;
  margin: 20px auto;
  background-color: #ffffff;
  border: 2px solid #4a90e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.sim-canvas {
  width: 50vw;
  height: 80vh;
}

/* Button Styling */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357abd;
}

/* Input Fields */
input[type="number"], input[type="checkbox"] {
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

input[type="number"]:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Labels */
label {
  font-size: 1rem;
  margin-right: 10px;
}

/* Section Headers */
h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-top: 40px;
}

/* Customize Simulation Section */
#custom-dimension-sim, #customizable-sim {
  margin-top: 30px;
}

#customizable-sim-output, #custom-dimension-output, #custom-dimension-output-per-area {
  margin-top: 10px;
}

footer {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 0.9rem;
  color: #777;
}